.sidebar{
    height: 100%;
}


#return{
    height:15%;
    width:100%;
}

#returnIcon{
    position:relative;
    top:80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor:pointer;
}

#Menu{
    padding-top: 30px;
    height:30%;
    width:100%;
}

#LogoSidebar{
    

    transform: rotate(-90deg);


    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height:50%;
    width:100%;
}

#LogoSide{
    position: relative;
    margin-left: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Urbanist";
    letter-spacing: 15px;
}

.MenuItem{
    cursor:pointer;
    font-size: 20px;
    margin-top: 5%;
}

h3{
    font-size: 30px;
}