html, body, #root, .App{
    height: 100%;
}

.Main, #mainContainer{
    height: 100%;
    overflow: hidden;
}

.frame{
    border-radius: 10px;
}
.frame:hover{
    cursor: pointer;
    transform: rotate(-1deg);

}

.frameSelected{
}

#people{
    height: 58%;
    width: 29%;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    left: 0%;
    top: 0%;
    background: linear-gradient(0deg, rgba(8, 6, 26, 0.741), rgba(8, 6, 26, 0.741)), url("./images/robert.jpg") no-repeat center;
    background-size: 100% 100%;
    
}

#publications{
    height: 33%;
    width: 68%;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    left: 30%;
    background: linear-gradient(0deg, rgba(56, 21, 82, 0.748), rgba(56, 21, 82, 0.748)), url("./images/books.jpg") no-repeat center;
    background-size: 100%;
}

#name{
    height: 10%;
    width: 68%;
    position: fixed;
    margin-left: 1%;
    margin-top: 0%;
    float: left;
    top: 35%;
    left: 30%;
    /* border: 1px solid green; */
}

#about{
    height: 28%;
    width: 29%;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    left: 0%;
    top: 60%;
    background: linear-gradient(0deg, rgba(165, 251, 251, 0.5), rgba(165, 251, 251, 0.5)), url("./images/stripes.jpg") repeat center;
    background-size: 100% 100%;
}

#research{
    height: 44%;
    width: 39%;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    left: 30%;
    top: 44%;
    background: linear-gradient(0deg, rgba(190, 219, 219, 0.55), rgba(186, 210, 210, 0.55)), url("./images/lab.jpg") no-repeat center;
    background-size: 100% 100%;
}

#join{
    height:44%;
    width: 28%;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    left: 70%;
    top: 44%;
    background: linear-gradient(0deg, rgba(165, 251, 251, 0.638), rgba(165, 251, 251, 0.638)), url("./images/clouds.jpg") repeat center;
    background-size: 100% 100%;
}

#news{
    height: 6%;
    width: 98%;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    left: 0%;
    top: 90%;
    background-color:rgba(49, 138, 219, 0.8);
}

.dark{
    background: rgba(8, 6, 26, 1) !important;
}

.light{
    background: rgba(187, 253, 253, 0.652) !important;
}
.centreText{
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.leftText{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
    float:left;

}

.whiteText{
    color: white;
}

#title{
    float:left;
}

.blackText{
    color: rgba(36, 36, 36);
}

h1{
    font-size: 400%;
    margin: 0px;
    padding: 0px;
    font-family: 'Urbanist';
    letter-spacing: 3px;
}

h2{
    font-size: 500%;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

#icons{
    float: right;
    height: 100%;
    margin-left: 1%;
}

#socials{
    height: 100%
}

#icons2{
    float: right;
    height: 100%;
    margin-left: 1%;
}

.social-icon{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float:left;
    display: flex;
    height: 80%;
}

#sidebar{
    display:none;
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    opacity: 0%;
}

/* The animation code */
@keyframes FrameAnimation {
    from {
        opacity: 100%;
        background:rgba(8, 6, 26, 1);
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
        background:rgba(8, 6, 26, 1);
    }
  }


/* The animation code */
@keyframes FrameAnimation2 {
    from {
        opacity: 100%;
        background:rgba(187, 253, 253, 0.652);
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
        background:rgba(187, 253, 253, 0.652);
    }
  }

.animateFrameDark{
    animation-name: FrameAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

  
.animateFrameLight{
    animation-name: FrameAnimation2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}




/* 700 px is mobile */
@media (max-width:1400px){ 
    #socials{
        display: none;
    }
}
@media (max-width:1700px){ 
    h1{
        font-size: 200%;
    }
    h2{
        font-size: 300%;
    }
}
@media (max-width:2000px) and (min-width:1700px){
    h1{
        font-size: 300%;
    }
    h2{
        font-size: 400%;
    }
}

.fadeInAnimation{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* The animation code */
@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
  }


.fadeOutAnimation{
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* The animation code */
@keyframes fadeOut {
    from {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    to {
        opacity: 0%;
        display: none;
    }
  }

.fadeInAnimationFast{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* The animation code */
@keyframes fadeIn {
    from {
        display: "block";
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
  }

.contractFramePeople{
    animation-name: PeopleAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes PeopleAnimation {
    from {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
        
    }

    to {
        height: 58%;
        width: 29%;
        margin-left: 1%;
        margin-top: 1%;
        left: 0%;
        top: 0%;
        opacity: 100%;
    }
  }
  
.contractFrameAbout{
    animation-name: AboutAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes AboutAnimation {
    from {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
    }
    to {
        height: 28%;
        width: 29%;
        margin-left: 1%;
        margin-top: 1%;
        left: 0%;
        top: 60%;
        opacity: 100%;
    }
}

.contractFramePubs{
    animation-name: PubsAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes PubsAnimation {
    from {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
    }
    to {
        height: 33%;
        width: 68%;
        margin-left: 1%;
        margin-top: 1%;
        left: 30%;
        top: 0%;
        opacity: 100%;
    }
}

.contractFrameResearch{
    animation-name: ResearchAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes ResearchAnimation {
    from {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
    }
    to {
        height: 44%;
        width: 39%;
        margin-left: 1%;
        margin-top: 1%;
        left: 30%;
        top: 44%;
        opacity: 100%;
    }
}


.contractFrameJoin{
    animation-name: JoinAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes JoinAnimation {
    from {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
    }
    to {
        height: 44%;
        width: 28%;
        margin-left: 1%;
        margin-top: 1%;
        left: 70%;
        top: 44%;
        opacity: 100%;
    }
}

.contractFrameNews{
    animation-name: NewsAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes NewsAnimation {
    from {
        margin-top: 0%;
        margin-left: 0%;
        height: 100%;
        width: 90%;
        left: 20%;
        top: 0%;
        opacity: 100%;
    }
    to {
        height: 6%;
        width: 98%;
        margin-left: 1%;
        margin-top: 1%;
        left: 0%;
        top: 90%;
        opacity: 100%;
    }
}



#newsWrapper{
    width:98%;
    margin:auto;
    height:100%;
}

#dateBlock{
    background-color: white;
    float:left;
    font-family: 'Urbanist';
    padding: 2px;
    font-size: 25px;
    border-radius: 10px;
    position:relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 30px;
    padding-right: 30px;
    width: 5%;
}

#newsBlock{
    float:left;
    font-family: 'Urbanist';
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    position:relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}